.header {
  background-color: rgba(31, 41, 55, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--color-gray-700);
}

.header-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-gray-100);
}

@media (min-width: 640px) {
  .header-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .header-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
} 